div.App {
  color: #222;
  position: relative;
  margin-bottom: 5rem;
  min-height: 100vh;
}

div.Loading,
div.Error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.links {
  right: 0;
  top: 0;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  font-size: .85rem;
}

.links a {
  color: white;
  margin: 1rem 0 0 0;
}

.chart {
  padding-top: 2rem;
  margin: 1em 0;
  background-color: #222;
  width: 100vw;
  height: 300px;
  color: #aaa;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.thesis {
  padding: 1.25em 0;
  background-color: #fff;
  align-items: center;
}

.thesis__wrapper {
  align-items: center;
  width: 100%;
}

.thesis__text>b,
.thesis__text>p {
  width: 100%;
}

.thesis__text {
  width: 80%;
  align-items: flex-start;
  justify-content: flex-start;
}

.thesis__text span,
.thesis__text li {
  color: #333;
  margin-top: 0.5em;
}

.thesis h1 {
  font-size: 1.5rem;
  margin-bottom: .5em;
  text-align: center;
}

.chat {
  height: 50vh;
  background: #222;
  box-sizing: border-box;
  padding: 2rem 0;
  align-items: center;
  justify-content: flex-end;
}

.chat__title {
  /* position: absolute; */
  top: -2rem;
  left: 0;
  background: #222;
  padding: 2em 0;
  width: 100%;
  text-align: center;
}

.chat__btn {
  margin-left: 1em;
  width: 6em;
  background: #ff7f0e;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.chat__convo {
  justify-content: flex-end;
  width: 80%;
  height: 100%;
  font-size: .85em;
  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 1) 100%);
}

.chat__convo b {
  color: white;
}

.chat__convo>p {
  margin: 0 0 1em 0;
}

.chat__convo>p:nth-child(odd) {
  background-color: #444;
  padding: 1em;
  border-radius: 5px;
}

.chat__convo__content {
  color: #ddd;
}

.chat__btn:hover {
  transform: scale(1.05);
  transition: 300ms;
}

.chat__btn:disabled {
  background: #aaa;
}

.chat form {
  width: 80%;
}

.chat__input {
  color: white;
  flex: 1;
  background: #666;
  padding: 1.25em;
  border-radius: 5px;
  border: none;
}

.chat__input:focus {
  outline: none;
}

/* utility */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) {
  .thesis__text>h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 720px) {

  .thesis__text,
  .chat__convo,
  .chat form {
    width: 60%;
  }

  .chart {
    width: 60vw;
  }

  .links {
    justify-content: flex-end;
  }

  .links a {
    margin: 1rem 2rem 0 0;
  }
}